---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" style="color: #659EC7">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">My Projects</h1>

  {{ content }}

  <ul class="project-list">
    {% for project in site.projects %}
      <li>
        <span class="project-meta">{{ project.date | date: "%b %Y" }}</span>

        <h2>
          <a class="project-link" href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
